<lfr-layout-container add-classes="layout-33-66">
  <lfr-row>
    <lfr-column add-classes="col-md-6">
      <portlet content-title="react portlet A" application-decorators="barebone">react component A</portlet>
    </lfr-column>
    <lfr-column add-classes="col-md-6">
      <portlet content-title="react portlet B" application-decorators="borderless">react component B
        <p lorem="1"></p>
        <p lorem="2"></p>
        <p lorem="4"></p>
      </portlet>
    </lfr-column>
  </lfr-row>
  <lfr-row>
    <lfr-column add-classes="col-md-4">
      <portlet content-title="react portlet C" portlet-type="navigation" application-decorators="decorate">
        <ul>
          <li><a href="#" title="fake link">nav link 1</a></li>
          <li><a href="#" title="fake link">nav link 2</a></li>
          <li><a href="#" title="fake link">nav link 3</a></li>
          <li><a href="#" title="fake link">nav link 4</a></li>
        </ul>
      </portlet>
    </lfr-column>
    <lfr-column add-classes="col-md-4">
      <portlet content-title="react portlet D">react component D</portlet>
    </lfr-column>
    <lfr-column add-classes="col-md-4">
      <portlet content-title="react portlet E">reaact component E</portlet>
      <portlet content-title="react portlet F">react component F</portlet>
    </lfr-column>
  </lfr-row>
  <lfr-row>
    <lfr-column add-classes="col-md-12">
      <portlet content-title="react portlet G">react component G
        <p lorem="2"></p>
      </portlet>
      <portlet content-title="react portlet H">react component H
        <p lorem="2"></p>
      </portlet>
      <portlet>helper portlet without attributes (default settings)</portlet>
    </lfr-column>
  </lfr-row>
</lfr-layout-container>