<!-- default | paragraph varying in length-->
<lorem-text></lorem-text>
<lorem-text></lorem-text>
<lorem-text></lorem-text>
<!-- 3 paragraphs -->
<lorem-text count="3"></lorem-text>
<!-- 1 word -->
<lorem-text count="1" units="words"></lorem-text>
<!-- 2 sentences -->
<lorem-text count="2" units="sentences"></lorem-text>

<!-- default | random image 200x200 -->
<lorem-image></lorem-image>
<lorem-image></lorem-image>
<lorem-image></lorem-image>
<!-- random image 800x200 -->
<lorem-image data-img-width="800"></lorem-image>
<!-- random image 200x600 -->
<lorem-image data-img-height="600"></lorem-image>
<!-- random image 800x600 -->
<lorem-image data-img-width="800" data-img-height="600"></lorem-image>
<!-- random image with alt description -->
<lorem-image alt="my custom alt"></lorem-image>